{
	"env": {
		"es2021": true,
		"node": true,
		"jest": true
	},
	"extends": [
		"eslint:recommended",
		"next/core-web-vitals",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": ["prettier", "react", "@typescript-eslint", "ramda"],
	"rules": {
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/ban-ts-ignore": ["off"],
		"@typescript-eslint/ban-ts-comment": ["off"],
		"@typescript-eslint/camelcase": ["off"],
		"@typescript-eslint/explicit-function-return-type": ["off"],
		"@typescript-eslint/interface-name-prefix": ["off"],
		"@typescript-eslint/no-explicit-any": ["off"],
		"@typescript-eslint/no-unused-expressions": ["off"],
		"@typescript-eslint/no-var-requires": ["off"],
		"@typescript-eslint/no-use-before-define": ["off"],
		"@typescript-eslint/no-empty-function": ["warn"],
		"comma-dangle": ["error", "always-multiline"],
		"camelcase": "off",
		"multiline-ternary": ["off"],
		"no-async-promise-executor": ["off"],
		"no-empty-pattern": ["off"],
		"no-mixed-spaces-and-tabs": ["warn"],
		"no-tabs": ["off"],
		"no-undef": ["error"],
		"no-use-before-define": ["off"],
		"no-var": ["error"],
		"object-curly-spacing": ["error", "always"],
		"quotes": ["error", "double", { "allowTemplateLiterals": true }],
		"semi": ["error", "always"],
		"spaced-comment": ["off"],
		"no-prototype-builtins": ["off"],
		"sort-keys": ["off"],
		"space-before-function-paren": ["off"],
		"indent": ["off"],
		"react/display-name": "off",
		"react/react-in-jsx-scope": "off",
		"react/no-unescaped-entities": "warn",
		"ramda/always-simplification": "error",
		"ramda/any-pass-simplification": "error",
		"ramda/both-simplification": "error",
		"ramda/complement-simplification": "error",
		"ramda/compose-pipe-style": "error",
		"ramda/compose-simplification": "error",
		"ramda/cond-simplification": "error",
		"ramda/either-simplification": "error",
		"ramda/eq-by-simplification": "error",
		"ramda/filter-simplification": "error",
		"ramda/if-else-simplification": "error",
		"ramda/map-simplification": "error",
		"ramda/merge-simplification": "error",
		"ramda/no-redundant-and": "error",
		"ramda/no-redundant-not": "error",
		"ramda/no-redundant-or": "error",
		"ramda/pipe-simplification": "error",
		"ramda/prefer-both-either": "error",
		"ramda/prefer-complement": "error",
		"ramda/prefer-ramda-boolean": "error",
		"ramda/prop-satisfies-simplification": "error",
		"ramda/reduce-simplification": "error",
		"ramda/reject-simplification": "error",
		"ramda/set-simplification": "error",
		"ramda/unless-simplification": "error",
		"ramda/when-simplification": "error"
	}
}
